include ../layout
doctype html
html.monarch-engine.monarch-propshop

head
	+headstuff("propshop - monarch engine")
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald")
	link(rel="stylesheet" href="../monarch-style.css")

body
	canvas.monarch-canvas
	.overlay
	script(src="../monarch-global.bundle.js")
	script.
		monarch.initializePropshop()
