include ../layout
doctype html
html.monarch-engine.monarch-propshop

+heady("propshop - monarch engine")
	link(rel="stylesheet" href="../monarch-style.css")

body
	canvas.monarch-canvas
	.overlay
	script(src="propshop-script.bundle.js")
