include layout
doctype html
html.monarch-engine.monarch-site

+heady("monarch engine")
	link(rel="stylesheet" href="monarch-style.css")

body
	main
		h1 monarch engine page
		p
			a(target="_blank" href="slate") launch slate
		p
			a(target="_blank" href="propshop") launch propshop
