include layout
doctype html
html.monarch-engine.monarch-site

head
	+headstuff("monarch engine")
	link(rel="stylesheet" href="monarch-style.css")

body
	main
		h1 monarch engine page
		p
			a(target="_blank" href="slate") launch slate
		p
			a(target="_blank" href="propshop") launch propshop
		p
			a(href="https://github.com/monarch-games/engine") github project
